The table below shows the results of testing [r122](https://code.google.com/p/pyswip/source/detail?r=122). The test consists of running `runtests` in the `test` directory (except for Cygwin, where each test file has to be run individually).


| **Platform**     | **Bits** | **Python Version** | **SWI-Prolog Version** | **Tests passed** |
|:-----------------|:---------|:-------------------|:-----------------------|:-----------------|
| Windows XP       |   32     |          2.7.3     |              6.0.2     | All              |
| Windows XP       |   64     |          2.7.3     |              6.2.5     | All              |
| Windows XP + Cygwin |     32   |            2.6.8   |               5.6.36   | All              |
| Fedora 16        |   32     |          2.7.2     |             5.10.2     | All              |
| Fedora 16        |   64     |          2.7.3     |             5.10.2     | All              |
| Ubuntu 12.04     |   32     |          2.7.3     |             5.10.4     | All              |
| Ubuntu 12.04     |   64     |          2.7.3     |             5.10.4     | All              |